const MINUTES = 1000 * 60; // ms
const HOURS = MINUTES * 60;

module.exports = {
    server: 'irc.mozilla.org',
    channels: ['#lalala'],
    nick: 'mickensbot',
    userName: 'mickensbot',
    realName: 'mickensbot',
    censorshipPeriodMap: {
        '#chan': 4 * HOURS
    },
    defaultCensorshipPeriod: 5 * MINUTES,
    preloadTweets: 100
}

